mixin product-preview-item(imageSrc, description, price, priceNew)
	.product-preview-item
		.product-preview-item__inner
			.product-preview-item__photo
				a(href="#")
					img(src=imageSrc, alt="image")
			.product-preview-item__content
				.product-preview-item__product-status
					span.product-status.product-status--new Новинка
					span.category-product__product-comments
						a(href="#") 16
					span.product-status.product-status--discount -10%
					
				h3.product-preview-item__heading
					a(href="#", title=description)= description
				.category-product__price
					if priceNew
						span.product-price--new= priceNew
							span.product-price__text--small грн
						span.product-price--old #{price} грн
					else
						span.product-price--current= price
							span.product-price__text--small грн
				.category-product__buy
					a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
					.category-product__product-links
						a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
						a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

mixin cabinet-product-preview-item(imageSrc, description, price, priceNew)
	.product-preview-item
		.product-preview-item__inner
			button.product-preview-item__delete
			.product-preview-item__photo
				a(href="#")
					img(src=imageSrc, alt="image")
			.product-preview-item__content
				.product-preview-item__product-status
					span.product-status.product-status--new Новинка
					span.category-product__product-comments
						a(href="#") 16
					span.product-status.product-status--discount -10%
					
				h3.product-preview-item__heading
					a(href="#", title=description)= description
				.category-product__price
					if priceNew
						span.product-price--new= priceNew
							span.product-price__text--small грн
						span.product-price--old #{price} грн
					else
						span.product-price--current= price
							span.product-price__text--small грн
				.category-product__buy
					a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
					.category-product__product-links
						a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
						//- a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

mixin cabinet-product-incart(imageSrc, description, price, priceNew)
	.product-preview-item
		.product-preview-item__inner
			button.product-preview-item__delete
			.product-preview-item__photo
				a(href="#")
					img(src=imageSrc, alt="image")
			.product-preview-item__content
				.product-preview-item__product-status
					span.category-product__product-comments
						a(href="#") 16
					span(class="product-info__code") Код:&nbsp;HSP-94107Pro
					
				h3.product-preview-item__heading
					a(href="#", title=description)= description
				.category-product__price
					if priceNew
						span.product-price--new= priceNew
							span.product-price__text--small грн
						span.product-price--old #{price} грн
					else
						span.product-price--current= price
							span.product-price__text--small грн
				.category-product__buy
					a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
					.category-product__product-links
						a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")

mixin brands-block(title)
	section.brands-block
		h2.brands-block__heading #{title} по брендам
		ul.brands-list.item-detail.item-detail--active
			li.brands-list__item
				a(href="#") Pilotage
			li.brands-list__item
				a(href="#") Brio
			li.brands-list__item
				a(href="#") Himoto
			li.brands-list__item
				a(href="#") HSP
			li.brands-list__item
				a(href="#") Maverick
			li.brands-list__item
				a(href="#") Pilotage
			li.brands-list__item
				a(href="#") Brio
			li.brands-list__item
				a(href="#") Pilotage
			li.brands-list__item
				a(href="#") Brio
			li.brands-list__item
				a(href="#") Himoto
			li.brands-list__item
				a(href="#") HSP
			li.brands-list__item
				a(href="#") Maverick
			li.brands-list__item
				a(href="#") Pilotage
			li.brands-list__item
				a(href="#") Brio
		.brands-block__links
			a(href="#").brands-block__link.brands-block__link--accessories
				span Аксессуары
			a(href="#").brands-block__link.brands-block__link--maintenance
				span Обслуживание
			a(href="#").brands-block__link.brands-block__link--howtochoose
				span Как выбрать