mixin product-preview-item(imageSrc, description, price, priceNew)
	.product-preview-item
		.product-preview-item__inner
			.product-preview-item__photo
				a(href="#")
					img(src=imageSrc, alt="image")
			.product-preview-item__content
				.product-preview-item__product-status
					span.product-status.product-status--new Новинка
					span.category-product__product-comments
						a(href="#") 16
					span.product-status.product-status--discount -10%
					
				h3.product-preview-item__heading
					a(href="#", title=description)= description
				.category-product__price
					if priceNew
						span.product-price--new= priceNew
							span.product-price__text--small грн
						span.product-price--old #{price} грн
					else
						span.product-price--current= price
							span.product-price__text--small грн
				.category-product__buy
					a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
					.category-product__product-links
						a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
						a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

mixin cabinet-product-preview-item(imageSrc, description, price, priceNew)
	.product-preview-item
		.product-preview-item__inner
			button.product-preview-item__delete
			.product-preview-item__photo
				a(href="#")
					img(src=imageSrc, alt="image")
			.product-preview-item__content
				.product-preview-item__product-status
					span.product-status.product-status--new Новинка
					span.category-product__product-comments
						a(href="#") 16
					span.product-status.product-status--discount -10%
					
				h3.product-preview-item__heading
					a(href="#", title=description)= description
				.category-product__price
					if priceNew
						span.product-price--new= priceNew
							span.product-price__text--small грн
						span.product-price--old #{price} грн
					else
						span.product-price--current= price
							span.product-price__text--small грн
				.category-product__buy
					a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
					.category-product__product-links
						a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
						//- a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

mixin cabinet-product-incart(imageSrc, description, price, priceNew)
	.product-preview-item
		.product-preview-item__inner
			button.product-preview-item__delete
			.product-preview-item__photo
				a(href="#")
					img(src=imageSrc, alt="image")
			.product-preview-item__content
				.product-preview-item__product-status
					span.category-product__product-comments
						a(href="#") 16
					span(class="product-info__code") Код:&nbsp;HSP-94107Pro
					
				h3.product-preview-item__heading
					a(href="#", title=description)= description
				.category-product__price
					if priceNew
						span.product-price--new= priceNew
							span.product-price__text--small грн
						span.product-price--old #{price} грн
					else
						span.product-price--current= price
							span.product-price__text--small грн
				.category-product__buy
					a.product-btn.category-product__btn.category-product__btn--incart(href="#") В корзине
					.category-product__product-links
						a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")

//- brands-block используется на странице товара (product-page.pug), на странице категории (category.pug)
mixin brands-block(title, additionalClass)
	section.brands-block(class=additionalClass)
		h2.brands-block__heading #{title} по брендам
		ul.brands-list.item-detail.item-detail--active
			li.brands-list__item
				a(href="#") Pilotage
			li.brands-list__item
				a(href="#") Brio
			li.brands-list__item
				a(href="#") Himoto
			li.brands-list__item
				a(href="#") HSP
			li.brands-list__item
				a(href="#") Maverick
			li.brands-list__item
				a(href="#") Pilotage
			li.brands-list__item
				a(href="#") Brio
			li.brands-list__item
				a(href="#") Pilotage
			li.brands-list__item
				a(href="#") Brio
			li.brands-list__item
				a(href="#") Himoto
			li.brands-list__item
				a(href="#") HSP
			li.brands-list__item
				a(href="#") Maverick
			li.brands-list__item
				a(href="#") Pilotage
			li.brands-list__item
				a(href="#") Brio
		.brands-block__links
			a(href="#").brands-block__link.brands-block__link--accessories
				span Аксессуары
			a(href="#").brands-block__link.brands-block__link--maintenance
				span Обслуживание
			a(href="#").brands-block__link.brands-block__link--howtochoose
				span Как выбрать

mixin category-filter-sidebar(additionalClass)
	aside.category-sidebar(class=additionalClass)
		section.sidebar-filter
			section.search-sidebar__category-menu
				.category-sidebar-menu.category-menu
					.category-menu__item
						.subcategory
							a(href="#") Авто 
							span.found-items-amount (10)

						ul.category-menu__subcategories.sub-menu
							li
								a(href="#") Мини, электро
									span.found-items-amount (77)
							li
								a(href="#") С электродвигателем
									span.found-items-amount (54)
								ul.sub-menu.sub-menu-2
									li
										a(href="#") На батарейках
									li
										a(href="#") На аккумуляторах
							li
								a(href="#") С двс двигателем
									span.found-items-amount (33)
							li
								a(href="#") С бензиновым двигателем
									span.found-items-amount (16)
					.category-menu__item
						.subcategory
							a(href="#") Самолеты 
								span.found-items-amount (135)
						ul.category-menu__subcategories.sub-menu
							li
								a(href="#") Мини, электро
									span.found-items-amount (14)
							li
								a(href="#") С электродвигателем
									span.found-items-amount (120)
								ul.sub-menu.sub-menu-2
									li
										a(href="#") На батарейках
									li
										a(href="#") На аккумуляторах
							li
								a(href="#") С двс двигателем
									span.found-items-amount (11) 
							li
								a(href="#") С бензиновым двигателем
									span.found-items-amount (2)
					.category-menu__item
						.subcategory
							a(href="#") Вертолеты 
								span.found-items-amount (15)
						ul.category-menu__subcategories.sub-menu
							li
								a(href="#") Мини, электро
									span.found-items-amount (2)
							li
								a(href="#") С электродвигателем
									span.found-items-amount (10)
								ul.sub-menu.sub-menu-2
									li
										a(href="#") На батарейках
									li
										a(href="#") На аккумуляторах
							li
								a(href="#") С двс двигателем
									span.found-items-amount (1) 
							li
								a(href="#") С бензиновым двигателем
									span.found-items-amount (10)
					.category-menu__item
						.subcategory
							a(href="#") Яхты 
								span.found-items-amount (11)
						ul.category-menu__subcategories.sub-menu
							li
								a(href="#") Мини, электро
									span.found-items-amount (10)
							li
								a(href="#") С электродвигателем
									span.found-items-amount (100)
								ul.sub-menu.sub-menu-2
									li
										a(href="#") На батарейках
									li
										a(href="#") На аккумуляторах
							li
								a(href="#") С двс двигателем 
									span.found-items-amount (10)
							li
								a(href="#") С бензиновым двигателем
									span.found-items-amount (10)
					.category-menu__item.category-menu__item--no-subcategories
						.subcategory
							a(href="#") Квадракоптеры 
								span.found-items-amount (86)
			form#filter-form(method="get" action="/")
				.product-filter
					.filter-header Производитель
						
					.filter-values-block
						.prop-filter
							input.custom-checkbox#prop-000021(type='checkbox', name='bylevel')
							label.custom-checkbox__label.product-filter__filter-label(for="prop-000021")
								span.custom-checkbox__box
								| Revell 
								span.found-items-amount (275)
						.prop-filter
							input.custom-checkbox#prop-000022(type='checkbox', name='bylevel')
							label.custom-checkbox__label.product-filter__filter-label(for="prop-000022")
								span.custom-checkbox__box
								| КУМ 
								span.found-items-amount (105)
						.prop-filter
							input.custom-checkbox#prop-000023(type='checkbox', name='bylevel')
							label.custom-checkbox__label.product-filter__filter-label(for="prop-000023")
								span.custom-checkbox__box
								| LEGO 
								span.found-items-amount (89)
						.prop-filter
							input.custom-checkbox#prop-000024(type='checkbox', name='bylevel')
							label.custom-checkbox__label.product-filter__filter-label(for="prop-000024")
								span.custom-checkbox__box
								| Zvezda 
								span.found-items-amount (85)
						.prop-filter
							input.custom-checkbox#prop-000025(type='checkbox', name='bylevel')
							label.custom-checkbox__label.product-filter__filter-label(for="prop-000025")
								span.custom-checkbox__box
								| Kyosho 
								span.found-items-amount (69)
						.prop-filter
							input.custom-checkbox#prop-000026(type='checkbox', name='bylevel')
							label.custom-checkbox__label.product-filter__filter-label(for="prop-000026")
								span.custom-checkbox__box
								| Puccini 
								span.found-items-amount (45)
						.prop-filter
							input.custom-checkbox#prop-000027(type='checkbox', name='bylevel')
							label.custom-checkbox__label.product-filter__filter-label(for="prop-000027")
								span.custom-checkbox__box
								| 4D MASTER 
								span.found-items-amount (33)
				.product-filter
					.filter-header По цене
					.filter-values-block
						.product-filter__price-block
							| от
							input.price-min.numeric-min.filter-value-field(type='number', min="0", size='4', maxlength='10', name='price[min]', onchange='set_filter_price(0)', placeholder='0')
							| до
							input.price-max.numeric-max.filter-value-field(type='number', min="0", size='4', maxlength='10', name='price[max]', onchange='set_filter_price(1)', placeholder='29808')
						input.sidebar-filter__submit-btn(type='submit', value='Подобрать')

				.filter-popup(style="display: block;top: 456px;")
					.filter-popup-close
						a.filter-popup-close-link(href='#')
					p.filter-popup-info Найдено товаров: 131
					a.filter-popup-btn(href='') Показать

		// end if section .sidebar-filter
		section.category-viewed-products
			h2.category-viewed-products__heading Вы смотрели
			ul
				li.category-viewed-products__item
					a(href="#", title="avto model that you looked for")
						img(src="dist/images/temporary/avto.jpeg", alt="some img")
				li.category-viewed-products__item
					a(href="#", title="avto model that you looked for")
						img(src="dist/images/temporary/avto.jpeg", alt="some img")
				li.category-viewed-products__item
					a(href="#", title="avto model that you looked for")
						img(src="dist/images/temporary/avto.jpeg", alt="some img")
				li.category-viewed-products__item
					a(href="#", title="avto model that you looked for")
						img(src="dist/images/temporary/avto.jpeg", alt="some img")
		// /end of section .category-viewed-products