doctype html
html(lang="ru")
	head
		title Спасибо за покупку
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.5/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="dist/normalize.css")
		link(rel="stylesheet" href="dist/template_styles.css")
		link(rel="stylesheet" href="dist/main.css")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="dist/js/vendor/owl.carousel.js")
		script(src="dist/js/vendor/modernizr-2.8.3.min.js")
		script(src="dist/js/vendor/countdown/jquery.countdown.js")

		script(src="dist/js/base/all.js")
		script(src="dist/js/pages/cart-thanks.js")

	body
		include includes/header.pug
		
		.container
			// ХЛЕБНЫЕ КРОШКИ
			section.breadcrumbs
				a(href="#").breadcrumbs-item.breadcrumbs-menu-btn.btn Каталог
				a(href="#").breadcrumbs-item
					span.bb-solid Главная
				span Спасибо за покупку
			include includes/main-nav.pug


		// Контент страницы благодарности за покупку
		main.cart-thanks-content
			header.cart-thanks-header
				.container
					h2.cart-thanks__header-title Спасибо за покупку, Александр
					p.cart-thanks__header-details.common-indent В течение 15 минут наш менеджер свяжется для уточнения деталей заказа.
					a(href="#").cart-thanks-order-number.common-indent Мой заказ — 3456
			article.cart-thanks-profile-form
				.container
					h2.cart-thanks-form-title.common-indent Позвольте нам сделать для вас подарок
					p.cart-thanks-form-details.common-indent Укажите свой день рождения и гарантированно получите сюрприз
					form.cart-thanks-form(action method="POST")
						.cart-thanks-form-group.clearfix
							.sab-block.cart-thanks-sab-block
								.sex-block
									input(type="radio" name="sex" value="male" id="maleSex" checked="checked")
									label(for="maleSex")
									input(type="radio" name="sex" value="female" id="femaleSex")
									label(for="femaleSex")
								.birthday-block
									.birthday-block__heading Дата рождения:
									.select-date.cart-thanks-select-date 
										select.select-date__select(name="birth-day", id="birthDay")
											- for (var x = 1; x < 32; x++)
												option(value=x)=x
										select.select-date__select(name="birth-month",id="birthMonth")
											each val,index in ["января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"]
												option(value=index)= val
										select.select-date__select(name="birth-year", id="birthYear")
											-for (var x = 2016; x>1939; x--)
												option(value=x)= x
							.subscription-wrapper.clearfix
								p.subscription-title Укажите ваши увлечения
								.subscription.cart-thanks-subscription.clearfix
										each val, index in {"miAvto": "Автомобили", "miAvia": "Авиамодели", "miQuadro": "Квадрокоптеры", "miPlanes": "Самолеты", "miBoat": "Катера и Яхты", "miStand": "Стендовые", "myHelicopter": "Вертолеты", "miCollections": "Коллекции", "miAnother": "Другая техника"}
											.subscription-item.cart-thanks-subscription__item
												input.checkbox-hidden(id=index, type="checkbox")
												label.subscription-item__label(for=index)=val
							.cart-thanks-form-submit
								input.cart-thanks-form-submit-btn(type="submit" value="Отправить анкету")
			.container
				section.register-block
					h2.register-block__title Копить скидку, начиная с этого заказа
					p.register-block__info Для учета накопительной скидки необходимо зарегистрироваться, чтобы текущий заказ зафиксировался в системе.
					form.register-block__form
						input.register-block__form-input(type='email', name='', placeholder='E-mail', required)
						.register-block__signup
							input#cart-thanks-check.custom-checkbox(type='checkbox')
							label.custom-checkbox__label.cart-thanks-checkbox__label(for='cart-thanks-check')
								span.custom-checkbox__box
								| Подписаться на рассылку
							p.register-block__signup-info Только полезное: акции, распродажи, новинки
						input.btn.register-block__signup-btn(type='submit', name='', value='Зарегистрироваться')
					.register-block__details
						p.register-block__details-title После регистрации:
						ul.register-block__details-list
							li Текущий заказ будет учтен при расчете процента скидки. После ухода с этой страницы — данный заказ учтен не будет!
							li Вы сможете отслеживать заказ
							li За вами будет закреплен менеджер для помощи в оформлении заказов и консультаций по подбору
							li Избранные, ожидаемые товары, а так же отслеживаемые цены будут храниться в одном месте
		.container
			section.similar-goods.cart-thanks__similar-goods
				h2.similar-goods__title.cart-thanks-title Александр, с товарами, которые вы купили, чаще всего покупают
				p.similar-goods__description.cart-thanks-description Включите в этот заказ или добавьте в избранное
				#owl-similar-products.owl-carousel.popular-products-block.custom-scrollbar
					.product-preview-item
						.product-preview-item__inner
							.product-preview-item__photo
								a(href="#")
									img(src="dist/images/temporary/blocks/product1.jpg", alt="image")
							.product-preview-item__content
								.product-preview-item__product-status
									span.product-status.product-status--new Новинка
									span.category-product__product-comments
										a(href="#") 16
									span(class="product-info__code") Код:&nbsp;HSP-94107Pro
								h3.product-preview-item__heading
									a(href="#") Модель р/у планера VolantexRC FPVRaptor V2 (TW-757-V2) 2000мм 2.4GHz...
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

					.product-preview-item
						.product-preview-item__inner
							.product-preview-item__photo
								a(href="#")
									img(src="dist/images/temporary/blocks/product4.jpg", alt="image")
							.product-preview-item__content
								.product-preview-item__product-status
									span.product-status.product-status--new Новинка
									span.category-product__product-comments
										a(href="#") 16
									span.product-status.product-status--discount -10%
									
								h3.product-preview-item__heading
									a(href="#") Радиоуправляемый планер VolantexRC FPVRaptor (RTF, 2.4GHz)(TW-757)...
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

					.product-preview-item
						.product-preview-item__inner
							.product-preview-item__photo
								a(href="#")
									img(src="dist/images/temporary/blocks/product2.jpg", alt="image")
							.product-preview-item__content
								.product-preview-item__product-status
									span.product-status.product-status--top Топ продаж
									span.product-status.product-status--discount -10%
								h3.product-preview-item__heading
									a(href="#") Модель р/у планера VolantexRC FPVRaptor (TW-757) 1600мм 2.4GHz KIT
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--buy(href="#") Купить
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

					.product-preview-item
						.product-preview-item__inner
							.product-preview-item__photo
								a(href="#")
									img(src="dist/images/temporary/blocks/product3.jpg", alt="image")
							.product-preview-item__content
								.product-preview-item__product-status
									span.category-product__product-comments
										a(href="#") 16
									span(class="product-info__code") Код:&nbsp;HSP-94107Pro
									
								h3.product-preview-item__heading
									a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

					.product-preview-item
						.product-preview-item__inner
							.product-preview-item__photo
								a(href="#")
									img(src="dist/images/sample-airplane.jpg", alt="image")
							.product-preview-item__content
								.product-preview-item__product-status
									
								h3.product-preview-item__heading
									a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")

					.product-preview-item
						.product-preview-item__inner
							.product-preview-item__photo
								a(href="#")
									img(src="dist/images/sample-airplane.jpg", alt="image")
							.product-preview-item__content
								.product-preview-item__product-status
									
								h3.product-preview-item__heading
									a(href="#") Летающее крыло Skywalker FALCON YF-0908 KIT Black
								.category-product__price
									// span.product-price--new 2600 
									// 	span.product-price__text--small грн
									// span.product-price--old 2785 грн
									span.product-price--current 13 600 
										span.product-price__text--small грн
								.category-product__buy
									a.product-btn.category-product__btn.category-product__btn--reserve(href="#") В резерв
									.category-product__product-links
										a.category-product__product-link.cp-wishlist-link(href="#", title="отложить")
										a.category-product__product-link.cp-compare-link(href="#", title="добавить к сравнению")
			section.promocodes
				h2.promocodes__title Промо-код на следующий заказ
				.promocodes__content
					.promocodes__item.clearfix
						.promocodes__item-image
							img(src='dist/images/temporary/promo-product.jpg')
						.promocodes__item-details
							p.promocodes__item-condition
								| Скидка 10% при заказе товаров из категории 
								a(href='') Электрокатера 
								| на сумму от 5 000 грн
							p.promocodes__item-code
								| Промокод:
								span 55-А467-SE46
							p.promocodes__item-period Действителен до 31.01.2017 включительно
							a.btn.promocodes__item-btn(href='') Перейти к товарам
					.promocodes__item.clearfix
						.promocodes__item-image
							img(src='dist/images/temporary/promo-product.jpg')
						.promocodes__item-details
							p.promocodes__item-condition
								| Скидка 10% при заказе товаров из категории 
								a(href='') Катера для рыбалки 
								|  на сумму от 5 000 грн
							p.promocodes__item-code
								| Промокод:
								span 55-А467-SE46
							p.promocodes__item-period Действителен до 31.01.2017 включительно
							a.btn.promocodes__item-btn(href='') Перейти к товарам
			.sales-preview-wrapper.cart-thanks__sales-preview-wrapper
				h3.cabinet-title.sales-preview-title У нас есть ещё хорошие предложения
				.sales-preview.cart-thanks__sales-preview
					.sale-preview.cart-thanks-sale-preview.clearfix
						.sale-preview__photo
							a(href="#")
								img(src="dist/images/temporary/sale-main-pic.jpg", alt="some alt for image")
						.sale-preview__description
							.sale-preview__text
								p.
									Эксклюзивно в Modelistam! Nanda Racing NRB-5 RTR 1/8 Nitro Buggy по спеццене + бесплатная доставка в подарок!
							.sale-preview__controls
								.sale-timer-wrapper Осталось
									div.sale-timer(data-countdown="2017/05/18 19:00:00")
										// YY/MM/DD
								a(href="#").btn.btn--sale.sale-preview__btn Посмотреть акционные товары

					.sale-preview.cart-thanks-sale-preview.clearfix
						.sale-preview__photo
							a(href="#")
								img(src="dist/images/temporary/sale-main-pic-2.jpg", alt="some alt for image")
						.sale-preview__description
							.sale-preview__text
								p.
									При покупке модельного ряда багги, в подарок чехол на выбор
							.sale-preview__controls
								.sale-timer-wrapper Осталось
									// внутри data-countdown
										- A native date object
										- The milliseconds from Epoch time
										- String formatted as following:
										YYYY/MM/DD
										MM/DD/YYYY
										YYYY/MM/DD hh:mm:ss
										MM/DD/YYYY hh:mm:ss
									div.sale-timer(data-countdown="2017/03/25 22:27:00")
								a(href="#").btn.btn--sale.sale-preview__btn Посмотреть акционные товары

				a.sales-preview__more(href="#")
					span.bb-solid Посмотреть другие акции
		// ************************************************************************************
		// Начало нижней части сайта с адресами магазинов (префутера)
		section.prefooter.cart-thanks-prefooter
			.container
				// signup block
				.h-signup
					p.h-signup__heading Получайте только акции и важные новости
					form.h-signup__form
						input.h-signup__email-input(type="email", placeholder="Эл. почта для рассылки", required)
						input.h-signup__submit(type="submit", value="Держите в курсе")
					p.h-signup__form-caption 1 раз в неделю. Без спама
		include includes/footer.pug