extends present-template.pug

block tabs
	mixin present-choice(sectionId, className, focusY=0.1, images)
		section.present-choice(id=sectionId, class=className).tab
			.container.present-choice__inner
				header.choice-steps.clearfix
					.choice-step.choice-step--done 1
					.choice-step.choice-step--done 2
					if images
						.choice-step.choice-step--done 3
						.choice-step.choice-step--current 4
					else
						.choice-step.choice-step--current 3

				h3.present-choice__title Тип модели
				section.present-choice__select
					button.present-choice__option
						if images
							span.svg-icon
								img(src=images[0].src, alt="внедорожник")
							.title= images[0].alt
						else
							span.svg-icon
								img(src="dist/images/present/svg/dvs.svg", alt="двс двигатель")
							.title ДВС
					button.present-choice__option
						if images
							span.svg-icon
								img(src=images[1].src, alt="шоссейный")
							.title= images[1].alt
						else
							span.svg-icon
								img(src="dist/images/present/svg/electro.svg", alt="электро двигатель", width="88px", height="86px")
							.title Электро
			// параметры data-focus-x и data-focus-y  - отвечают за точку фокуса для изображений, когда изображение полностью не влазит в область видимости (0, 0) - центр, (1, 1) - правый верхний угол
			.present-choice__banner.banner(class="focuspoint", data-focus-x='0', data-focus-y=focusY, data-image-w="1200", data-image-h="480")
				-imgSrc = 'dist/images/present/' + sectionId + '-banner.jpg'
				img(src=imgSrc, alt=sectionId)
	.tabs-container
		+present-choice('avto', 'active', 0.13, [{src: 'dist/images/present/svg/offroad.svg', alt: "Внедорожник"}, {src:'dist/images/present/svg/onroad.svg', alt: 'Шоссейный'}])
		+present-choice('motorcycle', '', 0.1, [{src: 'dist/images/present/svg/moto-kross.svg', alt: "Кроссовый"}, {src:'dist/images/present/svg/moto-shosse.svg', alt: "Шоссейный"}])
		+present-choice('tank', '', 0.1)
		+present-choice('plane', '', 0.2)
		+present-choice('boat', '', -0.13)
		+present-choice('helicopter', '', 0.1)
		+present-choice('quadrocopter', '', 0)