extends present-template.pug

block tabs
	mixin present-choice(name, className, focusY=0.13, width, height)
		- var imgSrc = "dist/images/present/svg/" + name + ".svg"
		- var smallWidth = width[0]
		- var middleWidth = width[1]
		- var bigWidth = width[2]
		- var smallHeihgt = height[0]
		- var middleHeihgt = height[1]
		- var bigHeihgt = height[2]
		section.present-choice(id=name, class=className).tab
			.container.present-choice__inner
				header.choice-steps.clearfix
					.choice-step.choice-step--done 1
					.choice-step.choice-step--current 2
					if name== 'avto' || name == 'motorcycle'
						.choice-step 3
						.choice-step 4
					else
						.choice-step 3
				h3.present-choice__title Какой размер предпочтительнее?
				section.present-choice__select
					button.present-choice__option
						span.svg-icon
							img(src=imgSrc, width=smallWidth, height=smallHeihgt)
						.title Малый
					button.present-choice__option
						span.svg-icon
							img(src=imgSrc, width=middleWidth, height=middleHeihgt)
						.title Средний
					button.present-choice__option
						span.svg-icon
							img(src=imgSrc, width=bigWidth, height=bigHeihgt)
						.title Большой
			// параметры data-focus-x и data-focus-y  - отвечают за точку фокуса для изображений, когда изображение полностью не влазит в область видимости (0, 0) - центр, (1, 1) - правый верхний угол
			.present-choice__banner.banner(class="focuspoint", data-focus-x='0', data-focus-y=focusY, data-image-w="1200", data-image-h="480")
				-imgSrc = 'dist/images/present/' + name + '-banner.jpg'
				img(src=imgSrc, alt=sectionId)
	.tabs-container
		+present-choice('avto', 'active', 0.13, ['65px', '96px', '125px'], ['40px', '44px', '57px'])
		+present-choice('tank', '', 0.1, ['65px', '85px', '105px'], ['38px', '49px', '61px'])
		+present-choice('motorcycle','', 0, ['65px', '85px', '116px'], ['40px', '52px', '71px'])
		+present-choice('plane', '', 0.2, ['50px', '75px', '100px'], ['50px', '75px', '100px'])
		+present-choice('boat', '', -0.13, ['65px', '96px', '125px'], ['25px', '35px', '49px'])
		+present-choice('helicopter', '', 0.1, ['54px', '96px', '115px'], ['30px', '50px', '65px'])
		+present-choice('quadrocopter', '', 0, ['46px', '70px', '90px'], ['46px', '70px', '90px'])