extends present-template.pug

block tabs
	mixin present-choice(sectionId, className, focusY=0.13)
		section.present-choice(id=sectionId, class=className).tab
			.container.present-choice__inner
				header.choice-steps.clearfix
					.choice-step.choice-step--done 1
					.choice-step.choice-step--done 2
					.choice-step.choice-step--current 3
					.choice-step 4
				h3.present-choice__title Тип двигателя
				section.present-choice__select
					button.present-choice__option
						span.svg-icon.
							<svg version="1.1" id="ДВС_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="74px" height="95px" viewBox="0 0 74 95" enable-background="new 0 0 74 95" xml:space="preserve">
								<g id="ДВС">
									<g>
										<path fill-rule="evenodd" clip-rule="evenodd" stroke-width="0" d="M72.973,16.502L62.726,6.248
											c-0.663-0.663-1.563-1.035-2.501-1.035c-0.937,0-1.836,0.372-2.499,1.035l-2.712,2.714c-1.381,1.381-1.381,3.62,0,5.001
											l10.249,10.252c0.663,0.663,1.563,1.035,2.499,1.035c0.936,0,1.836-0.372,2.498-1.035l2.713-2.714
											C74.353,20.12,74.353,17.881,72.973,16.502z M48.129,12.748c-0.666-0.663-1.563-1.036-2.5-1.036h-5.737V9.661
											c0-5.328-4.332-9.662-9.66-9.662H15.313c-5.326,0-9.658,4.334-9.658,9.662v2.051H5.192C2.331,11.712,0,14.044,0,16.907v72.898
											c0,2.866,2.328,5.195,5.192,5.195h57.933c2.865,0,5.193-2.329,5.193-5.195V34.413c0-0.937-0.373-1.836-1.035-2.499L48.129,12.748z
											 M32.824,11.712H12.722V9.661c0-1.429,1.162-2.592,2.591-2.592h14.922c1.429,0,2.59,1.163,2.59,2.592V11.712z"/>
									</g>
								</g>
							</svg>
						.title ДВС
					button.present-choice__option
						span.svg-icon.
							<svg version="1.1" id="electro_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="88px" height="86px" viewBox="0 0 88 86" enable-background="new 0 0 88 86" xml:space="preserve">
								<g id="electro">
									<g>
										<path fill-rule="evenodd" clip-rule="evenodd" stroke-width="0" d="M36.215,17.174h-1.193c-1.399,0-2.524,1.042-2.524,2.316v9.82
											h6.25v-9.82C38.739,18.216,37.614,17.174,36.215,17.174z M52.97,17.174h-1.19c-1.401,0-2.535,1.042-2.535,2.316v9.82h6.25v-9.82
											C55.494,18.216,54.369,17.174,52.97,17.174z M43.997,0.01c-24.265,0-44.008,19.729-44.008,43.975
											c0,11.707,4.552,22.726,12.815,31.022c4.891,4.913,10.944,8.645,17.509,10.788C30.752,85.935,31.199,86,31.629,86
											c1.787,0,3.444-1.133,4.031-2.921c0.729-2.224-0.487-4.614-2.715-5.334c-5.29-1.73-10.183-4.748-14.131-8.71
											C12.141,62.332,8.466,53.439,8.466,43.984c0-19.581,15.943-35.504,35.531-35.504c19.595,0,35.528,15.923,35.528,35.504
											c0,9.489-3.691,18.398-10.396,25.1c-2.574,2.316-8.965,6.956-12.798,6.956c-1.971,0-3.444-0.62-4.637-1.952
											c-3.037-3.374-3.7-10.216-3.675-14.973c7.359-0.373,13.211-6.436,13.211-13.873V32.057H26.762v13.186
											c0,7.296,5.62,13.27,12.772,13.848c-0.041,5.676,0.754,14.98,5.836,20.64c2.798,3.128,6.589,4.781,10.961,4.781
											c8.204,0,17.532-8.28,18.568-9.223l0.14-0.125c8.361-8.313,12.964-19.39,12.964-31.179C88.003,19.738,68.26,0.01,43.997,0.01z"/>
									</g>
								</g>
							</svg>
						.title Электро
			// параметры data-focus-x и data-focus-y  - отвечают за точку фокуса для изображений, когда изображение полностью не влазит в область видимости (0, 0) - центр, (1, 1) - правый верхний угол
			.present-choice__banner.banner(class="focuspoint", data-focus-x='0', data-focus-y=focusY, data-image-w="1200", data-image-h="480")
				-imgSrc = 'dist/images/present/' + sectionId + '-banner.jpg'
				img(src=imgSrc, alt=sectionId)
	.tabs-container
		+present-choice('avto', 'active')
		+present-choice('tank', '', 0.1)
		+present-choice('motorcycle','', 0.1)
		+present-choice('plane', '', 0.2)
		+present-choice('boat', '', -0.13)
		+present-choice('helicopter', '', 0.1)
		+present-choice('quadrocopter', '', 0)